DB_URL=postgresql://your_user:your_password@localhost:5432/your_db_name
POSTGRES_DB=your_db_name
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5432

ELASTIC_URL=http://localhost:9200